.server-indicator {
    display: inline-block;
    border: 0 solid;
    border-radius: 20%;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
}

g .area {
    fill-opacity: 0.5;
    stroke-width: 3px;
}

.rickshaw_graph .detail .x_label {
    display: none
}

.rickshaw_graph .detail .item {
    line-height: 1.4;
    padding: 0.5em
}

.rickshaw_graph .detail .date {
    color: #a0a0a0
}

.sortable-header {
    color: black !important;
    text-decoration: none !important;
}

.desc:after {
    content: ' ▲';
}

.asc:after {
    content: ' ▼';
}
