.server-indicator {
    border: solid 8px;
    width: 16px;
    vertical-align: middle;
}

g .area {
    fill-opacity: 0.5;
    stroke-width: 3px;
}

.rickshaw_graph .detail .x_label {
    display: none
}

.rickshaw_graph .detail .item {
    line-height: 1.4;
    padding: 0.5em
}

.detail_swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px 0 0
}

.rickshaw_graph .detail .date {
    color: #a0a0a0
}
