.server-indicator {
    display: inline-block;
    border: 0 solid;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-top;
}

.sortable-header {
    color: #333 !important;
    text-decoration: none !important;
}

.pid-label {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 3em !important;
    display: inline-block !important;
}

.asc:after {
    content: ' ▼';
}

.desc:after {
    content: ' ▲';
}

.min-width {
    width: 16px;
}

g .area {
    fill-opacity: 0.5;
    stroke-width: 3px;
}

.rickshaw_graph .detail .x_label {
    display: none
}

.rickshaw_graph .detail .item {
    line-height: 1.4;
    padding: 0.5em
}

.rickshaw_graph .detail .date {
    color: #a0a0a0
}
